html, body {
    max-width: 1440px
}

body {
    /*font-family: Interstate-Light;*/
    color: #333;
    font-size: 16px
}

#topBlackBar{
   top:0;
   left:0;
}

.full-width {
    max-width: 1440px;
    width: 1440px
}

.header-out {
    height: 36px;
    background-color: black;
    width: 1440px
}

#citiBanner{
    top: 25.5px
}

.citibanner{
	background: url(images/BannerBackColor.png) repeat-x 0 0;
    height: 86.1px;
    width: 1440px
}

.logo{
    margin-left: 90.5px;
    margin-top: 23.3px;
    height: 38px
}

#subnav{
    z-index: 50;
    top: 110px;
    width: 100%;
    height: 50px;
    margin-top: 111px;
    padding: 0 10px;
    background: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .125), 0 1px 1px rgba(0, 0, 0, .125);
}

.maxWidthInner {
    max-width: 1440px;
    margin: 0 auto;
    position: relative
}

.posfix{
    position: fixed;
    z-index: 2
}

#subnav_inner {
    z-index: 15;
    width: auto;
    height: 50px;
    float: left;
}

.subnav_inner-btn {
    height: 50px;
    cursor: pointer;
    color: #333;
    border-radius: 0;
    outline: 0;
    box-shadow: none;
    line-height: 50px;
    list-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

menu{
    display: block
}
