html, body {
    max-width: 1440px
}

body {
    /*font-family: Interstate-Light;*/
    color: #333;
    font-size: 16px
}

#topBlackBar{
   top:0;
   left:0;
}

.full-width {
    max-width: 1440px;
    width: 1440px
}

.header-out {
    height: 36px;
    background-color: black;
    width: 1441px
}

#citiBanner{
    top: 25.5px
}

.citibanner{
    background: url(images/BannerBackColor.png) repeat-x 0 0;
    height: 86.1px;
    width: 1447px
}

.logo{
    margin-left: 90.5px;
    margin-top: 23.3px;
    height: 38px;
}

#subnav{
    margin-left: -12px;
    z-index: 50;
    top: 110px;
    width: 100%;
    height: 50px;
    margin-top: 111px;
    padding: 0 10px;
    background: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .125), 0 1px 1px rgba(0, 0, 0, .125);
}

.maxWidthInner {
    max-width: 1440px;
    margin: 0 auto;
    position: relative
}

.posfix{
    position: fixed;
    z-index: 2
}

#subnav_inner {
    z-index: 15;
    width: auto;
    height: 50px;
    float: left;
}

#subnav-header{
    position: relative;
    bottom: 23px;
    left: 15px;
    font-weight: bold;
    font-size: 30px;
}
#money-to-goal{
    cursor: pointer;
}

.dropbtn{
    background-color: white;
    color: black;
    padding: 45px;
    font-size: 46px;
    border-style: solid;
    border-color: #337ab7;
    cursor: pointer;
    margin-left: -8px;
    margin-top: 0px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#plus{
    position: absolute;
    font-size: 46px;
    margin-top: -110px;
    margin-left: 200px;
}

#equals{
    position: absolute;
    font-size: 46px;
    margin-top: -110px;
    margin-left: 600px;
}

#money-goal{
    position: absolute;
    margin-top: -150px;
    margin-left: 250px;
    font-size: 46px;
}
input[type=number]{
    width: 40%;
    height: 148px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-style: solid;
    border-color: #337ab7;
    border-radius: 2px;
    font-size: 46px;
}

#calculate{
    position: absolute;
    background-color: #337ab7;
    color: white;
    padding: 25px;
    font-size: 26px;
    border-style: solid;
    border-color: #337ab7;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 520px;
}