html, body {
    max-width: 1440px
}

body {
    /*font-family: Interstate-Light;*/
    color: #333;
    font-size: 16px
}

#topBlackBar{
   top:0;
   left:0;
}

.full-width {
    max-width: 1440px;
    width: 1440px
}

.header-out {
    height: 36px;
    background-color: black;
    width: 1441px
}

#citiBanner{
    top: 25.5px
}

.citibanner{
    background: url(images/BannerBackColor.png) repeat-x 0 0;
    height: 86.1px;
    width: 1447px
}

.logo{
    margin-left: 90.5px;
    margin-top: 23.3px;
    height: 38px;
}

#subnav{
    margin-left: -12px;
    z-index: 50;
    top: 110px;
    width: 100%;
    height: 50px;
    margin-top: 111px;
    padding: 0 10px;
    background: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .125), 0 1px 1px rgba(0, 0, 0, .125);
}

.maxWidthInner {
    max-width: 1440px;
    margin: 0 auto;
    position: relative
}

.posfix{
    position: fixed;
    z-index: 2
}

#subnav_inner {
    z-index: 15;
    width: auto;
    height: 50px;
    float: left;
}

#subnav-header{
    position: relative;
    bottom: 23px;
    left: 15px;
    font-weight: bold;
    font-size: 30px;
}
#textColumn{
    position: fixed;
    width: 219px;
    margin-left: -14px;
    border-bottom: 1px solid #979797;
    height: 578px;
    top: 160px;
    text-align: center;
}

#yourJobs p{
    font-size: 20px;
    cursor: pointer;
}

#jobs-header{
    width: 219px;
    margin-left: 0px;
    border-bottom: 2px solid black;
    border-top: 5px solid #000;
    height: 56px;
    top: 160px;
}

#jobs-header p{
    margin-top: 3px;
    /*margin-left: 75px;*/
    font-size: 40px;
}

#addJob{
    position: fixed;
    width: 219px;
    margin-left: 400px;
    border-bottom: 2px solid black;
    border-top: 5px solid #000;
    height: 56px;
    top: 160px;
}

#add{
    font-size: 40px;
    margin-top: -37px;
}

input[type=text]{
    width: 100%;
    height: 140px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-style: solid;
    border-color: #337ab7;
    border-radius: 2px;
    font-size: 40px;
}